*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-container {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 65px;
}

.result-container {
  background-color: #858694;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#result {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.body-container {
  display: flex;
  width: 450px;
  align-items: center;
}

.symbol-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  padding: 25px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.symbol-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5913e;
  border: 1px solid #d3d3d3;
  padding: 25px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.symbol-1-zero {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  padding: 25px;
  width: 265%;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.logo {
  margin-left: 18px;
  color: #fff;
}

.oneLink {
  margin: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.link-list {
  margin-right: 18px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-homepage {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
}

.text {
  font-size: 20px;
  text-align: center;
}

.whole {
  display: flex;
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: space-between;
}

.calculator-text {
  margin-left: 65px;
}

nav {
  background-color: #858694;
}
